
<table class="tx-affiliate-manager" >
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.name" />
		</td>
		<td>
			{affiliates.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.sourceid" />
		</td>
		<td>
			{affiliates.sourceid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.description" />
		</td>
		<td>
			{affiliates.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.image_url" />
		</td>
		<td>
			{affiliates.image_url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.url" />
		</td>
		<td>
			{affiliates.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.category" />
		</td>
		<td>
			{affiliates.category}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_affiliatemanager_domain_model_affiliates.active" />
		</td>
		<td>
			{affiliates.active}
		</td>
	</tr>
</table>