
<label for="affdesc">
	<f:translate key="tx_affiliatemanager_domain_model_affiliates.affdesc" />
</label><br />
	<f:form.textarea property="affdesc" cols="40" rows="15" /><br />
<label for="link">
	<f:translate key="tx_affiliatemanager_domain_model_affiliates.link" />
</label><br />
	<f:form.textarea property="link" cols="40" rows="15" /><br />
<label for="imgurl">
	<f:translate key="tx_affiliatemanager_domain_model_affiliates.imgurl" />
</label><br />
	<f:form.textarea property="imgurl" cols="40" rows="15" /><br />