
<div class="ui container">



<div class="products">

<f:if condition="{data.category.title}">
<f:then>
<div class="product-header">{data.category.title}</div>
</f:then>
<f:else>
<div class="product-header">Below are your Favorite items</div>
</f:else>
</f:if>
	<div class="ui equal width stackable grid">
				

<f:widget.paginate objects="{data}" as="paginatedAffiliates" configuration="{itemsPerPage: 8, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 10}">

<f:for each="{paginatedAffiliates}" as="affiliate" iteration="iterator">


<div class="middle aligned column">
			<div class="ui card">
				<div class="content">
					<f:render partial="General/Heart" arguments="{_all}"/>
				</div>
				
				<div class="image breed-header">
					<f:render partial="General/Image" arguments="{_all}" />				
				</div>
				
				
				
				<div class="content">
					<f:render partial="General/Description" arguments="{_all}" />
				</div>
				
				
				<div class="extra content">
					<a>
						<f:render partial="General/Cost" arguments="{_all}" />
					</a>
					
					
					<span class="right floated">
                  <img src="fileadmin/plannedpooch/version2/images/bag.png" class="ui image" width="20">
                </span>
				</div>
			</div>
</div>

<f:if condition="{iterator.cycle} % 4">
            <f:then>
            </f:then>
            <f:else>
                <f:if condition="{iterator.isLast}">
                    <f:then>
                    </f:then>
                    <f:else>
                      <!--  // close row -->
                        </div>
                        <!-- // open new row -->
                        <div class="ui equal width stackable grid">
                    </f:else>
                </f:if>
            </f:else>
        </f:if>


</f:for>

</f:widget.paginate>

		
</div> <!-- end the row -->
	</div></div>