
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Affiliates</h1>

<f:flashMessages />

<table  class="tx_affiliatemanager" >
	<tr>
		<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.name" /></th>
		<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.sourceid" /></th>
		<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.description" /></th>
		<!--<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.logo" /></th>-->
		<!--<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.url" /></th>-->
		<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.category" /></th>
		<th><f:translate key="tx_affiliatemanager_domain_model_affiliates.active" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{affiliates}" as="affiliate">
		<tr>
			<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.sourceid}</f:link.action></td>
			<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.description}</f:link.action></td>
			<!--<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.logo}</f:link.action></td>
			<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.url}</f:link.action></td>-->
			<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.category}</f:link.action></td>
			<td><f:link.action action="show" arguments="{affiliates : affiliate}"> {affiliate.active}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{affiliates : affiliate}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{affiliates : affiliate}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Affiliate</f:link.action>
<f:link.action action="sync">Sync Affiliates</f:link.action>
</f:section>